body {
    margin: 0;
    background: lightblue;
    text-align: center;
}
body {
      background-image: url('https://media.discordapp.net/attachments/964119462188040205/1029223581357461586/flowers.jpg');
      background-repeat: no-repeat;
    }
